/*
css/layout.css
*/

html,
body {
  font-family: "Roboto", "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 300;

  color: #424242;

  margin: 0;
  padding: 0;

  height: 100%;
}


/* LAYOUT CLASSES */
.layout { position: relative; }
.layout > .bottom {
  position: absolute;
  bottom: 0;
}
.container {
  padding: 5.0rem 0;
  max-width: 80rem;
}
.container.small {
  width: 45rem;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.fit {
  width: 100% !important;
}
.row:before,
.row:after {
    content: " ";
    display: table;
}
.row:after { clear: both; }
.column-50 { width: 50%; }

.row, 
.column { box-sizing: border-box; }
.column {
  padding: 2.0rem 2.0rem 1.0rem;
}

.pull-left {
  display: block;
  float: left;
}
.pull-right {
  display: block;
  float: right;
}

.show-on-mobile { display: none !important; }

@media (max-width: 719px) {
  .column-50 {
    width: 100%;
    padding-top: 0;
  }
  .show-on-mobile { display: inherit !important; }
  .hide-on-mobile { display: none !important; }
}


/* ID ELEMENTS */
#skills > .container > div {
  margin-bottom: 3.3em;
  width: 300px;
}
#skills .container {
  display: inline-block;
  vertical-align: top;
}
#skills > .container.small { width: 33%; }
@media (max-width: 920px) {
  #skills > .container.small { width: 100%; }
}

#portfolio { min-height: 72vh; }
#portfolio ul > li {
  text-align: left;
  display: inline-block;
  width: 320px;
  vertical-align: middle;
}
#portfolio ul > li div.round { width: 100px; height: 100px; }


/* LIST */
ul { padding: 0 1.0em; margin: 0; }
ul > li {
  list-style: none;
  margin: 20px 0;
}
ul > li div.round {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 16px;
  width: 200px;
  height: 200px;
  float: left;
}
ul > li h3 {
  font-size: 1.6em;
  text-align: left;
  margin-bottom: 0;
}
ul > li p { padding: 1.0em 0; }
ul > li > a { color: inherit; }

.vertical-dots {
  border-left: 5px #D0D0D0 dotted;
  margin: 0 100px;
  width: 1px;
  height: 75px;
}

@media (max-width: 720px) {
  ul > li div.round {
    width: 100px;
    height: 100px;
  }
  ul > li h3 { font-size: 1.3em; font-weight: normal; }
  ul > li em { font-size: 0.9em; }
  ul > li p { display: none; }
  .vertical-dots { margin: 0 50px; height: 55px; }
}


/* HEADER */
header {
  background-image: url(../img/fi-dortmund.jpg);
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
@media screen and (max-width: 720px) {
  header { background-image: url(../img/fi-dortmund-720.jpg); }
  #education title { background-image: url(../img/education-720.jpg); }
  #experience title { background-image: url(../img/experience-720.jpg); }
  #skills title { background-image: url(../img/skills-720.jpg); }
  #portfolio title { background-image: url(../img/portfolio-720.jpg); }
}


/* SECTION */
section {
  font-size: 1.618033989rem;
  background-color: #FFFFFF;
  text-align: left;
  /*min-height: 100%;*/
  padding-bottom: 4.0em;
}
section > .title {
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 16.0rem 0;
  width: 100%;
}
@media (max-width: 720px) {
  section > .title { padding: 100px 0; }
}


/* ABOUT */
#about #column-1 {
  background-image: url(../img/brush-stroke.png);
  background-position: bottom left;
  background-size: 20.0rem;
  background-repeat: no-repeat no-repeat;
}
.avatar {
  border-radius: 50%;
  width: 30.0rem;
  height: 30.0rem;
  display: block;
}


/* FOOTER */
footer {
  position: relative;
  background: #E0E0E0;
  color: #9E9E9E;
  font-size: 1.8rem;
  padding: 32px 0 0;
  width: 100%;
  height: 200px;
}
footer td { padding: 1.0em 2.0em 0; }
footer a { color: #BDBDBD; }
footer a:hover { color: #9E9E9E; }
footer svg {
  fill: currentColor;
  display: inline-block;
  width: 8.0rem;
  height: 8.0rem;
}

@media (max-width: 480px) {
  footer td { padding: 1.0em 0.3em 0; }
}
