* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  /* Optical centering */
  padding: 3.6rem 2.4rem 6.0rem 1.8rem;

  max-width: 72.0rem;
  margin: 0 auto;

  overflow: visible;
}

body > header {
  text-align: center;
}

header,
section {
  width: 100%;
}

main {
  max-width: 48.0rem;
  margin: 0 auto;
}

nav {
  text-align: center;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

ul.line {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0;
  padding-inline-start: 0;
  list-style: none;
}

ul.line > li {
  margin: 0 0 0 1.2rem;
}

ul.line > li::before {
  content: "•";
  margin-right: 1.2rem;
}

ul.line.compact > li {
  margin-left: 0.8rem;
}

ul.line.compact > li::before {
  margin-right: 0.8rem;
}

ul.line > li:first-of-type {
  margin-left: 0;
}

ul.line + ul.line > li:first-of-type {
  margin-left: 1.2rem;
}

ul.line + ul.line.compact > li:first-of-type {
  margin-left: 0.8rem;
}

ul.line:first-of-type > li:first-of-type::before {
  content: "";
  margin: 0;
}

article {
  margin-top: 2.4rem;
}

@media screen and (max-width: 799px) {
  nav {
    flex-flow: column;
  }

  ul.line:not(:last-child) {
    margin-bottom: 0.6rem;
  }

  ul.line > li:first-of-type {
    margin-left: 0 !important;
  }

  ul.line > li:first-of-type::before {
    content: "";
    margin: 0;
  }
}

footer {
  page-break-after: always;
}
