/*
css/progress-bar.css
*/

.progress-bar {
  background-color: #BDBDBD;
  border-radius: 4px;

  margin: 0.5em;

  width: 240px;
  height: 8px;
}
@media (max-width: 480px) {
  .progress-bar { margin: 0.5em; }
}

.progress-bar .progress {
  background-color: #5DADE8;
  border-radius: 4px;
  width: 0px;
  height: 8px;
}
