@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: url("Vollkorn-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  src: url("Vollkorn-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 500;
  src: url("Vollkorn-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 500;
  src: url("Vollkorn-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 600;
  src: url("Vollkorn-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 600;
  src: url("Vollkorn-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 700;
  src: url("Vollkorn-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 700;
  src: url("Vollkorn-BoldItalic.ttf") format("truetype");
}
